*{ font-family: Century;}


#element{
border:2px;
background-color:none;
color:white;
width:50%;
display:none;
}
table
{ border: 1px solid black; }

  td{border: 1px solid gray;
     color:white;}
  th{border: 1px solid gray;color:white;}
}





